<%- include('includes/head', { styles: styles  })%>

<%- include('includes/navigation', { linkPath: path })%>

<main class="main">
    <% if (users.length > 0) { %>
    <h1 class="main__title">Users</h1>
    <div class="main__card-list">
        <% users.forEach(user => { %>
        <article class="main__card-item">
            <div class="main__card-image">
                <img src="/img/image-placeholder.svg" width="30%" alt="image placeholder">
            </div>
            <div class="main__card-content">
                <p class="main__card-username"><%= user.username %></p>
                <p class="main__card-resume">Lorem ipsum dolor sit amet consectetur.</p>
                <p class="main__card-language"><%= user.mainLanguage %></p>
                <button class="main__card-btn">Send message</button>
            </div>
        </article>
        <% }) %>
    </div>
    <% } else { %>
    <h1 class="main__no-users">No Users</h1>
    <% } %>
</main>

<%- include('includes/end') %>