<%- include('../includes/head', { styles: styles })%>

<%- include('../includes/navigation', { linkPath: path })%>

<main class="container" layout-override>
    <% if (cart.length > 0) { %>
    <div class="cart">
        <% cart.forEach(data => { %>
            <section class="cart__item">
                <div class="cart__image">
                    <img src="/img/fake-products/<%=data.imageUrl%>.jpg" alt="<%=data.title%>">
                </div>
                <div class="cart__details">
                    <h3 class="cart__title"><%=data.title%></h3>
                    <p class="cart__price">R$ <%=data.price%></p>
                    <p class="cart__qty">qty: <%=data.cartItem.quantity%></p>
                    <p class="cart__subtotal">R$ <%=data.cartItem.subTotal%></p>
                    <form action="/cart-delete-item" method="POST">
                        <button type="submit" class="cart__btn">Delete</button>
                        <input type="hidden" name="productId" value="<%= data.id %>">
                    </form>
                </div>
            </section>
        <% }) %>
        <form action="/create-order" method="post" class="cart__order">
            <button type="submit" class="cart__btn">Order now!</button>
        </form>
    </div>
    <% } else { %>
        <h1 class="general-message">No products in the cart</h1>
    <% } %>
</main>

<%- include('../includes/end') %>