<%- include('../includes/head', { styles: styles })%>

<%- include('../includes/navigation', { linkPath: path })%>

<main class="container" layout-override>
    <% if (cart.items.length > 0) { %>
    <div class="cart">
        <% cart.items.forEach(product => { %>
            <section class="cart__item">
                <div class="cart__image">
                    <img src="/img/fake-products/<%=product.imageUrl%>.jpg" alt="<%=product.title%>">
                </div>
                <div class="cart__details">
                    <h3 class="cart__title"><%=product.title%></h3>
                    <p class="cart__price">R$ <%=product.price%></p>
                    <p class="cart__qty">qty: <%=product.quantity%></p>
                    <p class="cart__subtotal">R$ <%=(+product.subTotal).toFixed(2)%></p>
                    <form action="/cart-delete-item" method="POST">
                        <button type="submit" class="cart__btn">Delete</button>
                        <input type="hidden" name="productId" value="<%= product._id %>">
                    </form>
                </div>
            </section>
        <% }) %>
        <p>Total: <%= (+cart.total).toFixed(2) %></p>
        <form action="/create-order" method="post" class="cart__order">
            <button type="submit" class="cart__btn">Order now!</button>
        </form>
    </div>
    <% } else { %>
        <h1 class="general-message">No products in the cart</h1>
    <% } %>
</main>

<%- include('../includes/end') %>