<%- include('../includes/head', { styles: styles })%>

<%- include('../includes/navigation', { linkPath: path })%>

<main class="container" layout-override>
    <% if (cart.items.length > 0) { %>
    <div class="cart">
        <% cart.items.forEach(item => { %>
            <section class="cart__item">
                <div class="cart__image">
                    <img src="/img/fake-products/<%=item.productId.imageUrl%>.jpg" alt="<%=item.productId.title%>">
                </div>
                <div class="cart__details">
                    <h3 class="cart__title"><%=item.productId.title%></h3>
                    <p class="cart__price">R$ <%=item.productId.price%></p>
                    <p class="cart__qty">qty: <%=item.quantity%></p>
                    <p class="cart__subtotal">R$ <%=(+item.subTotal).toFixed(2)%></p>
                    <form action="/cart-delete-item" method="POST">
                        <button type="submit" class="cart__btn">Delete</button>
                        <input type="hidden" name="productId" value="<%= item.productId._id %>">
                    </form>
                </div>
            </section>
        <% }) %>
        <p>Total: <%= (+cart.total).toFixed(2) %></p>
        <form action="/create-order" method="post" class="cart__order">
            <button type="submit" class="cart__btn">Order now!</button>
        </form>
    </div>
    <% } else { %>
        <h1 class="general-message">No products in the cart</h1>
    <% } %>
</main>

<%- include('../includes/end') %>