<%- include('../includes/head', { styles: styles  })%>

<%- include('../includes/navigation', { path: path })%>

<main class="main">
    <% if (prods.length > 0) { %>
    <h1 class="main__title">Shop</h1>
    <div class="main__card-list">
        <% prods.forEach(product => { %>
            <article class="main__card-item">
                <div class="main__card-image">
                    <img src="/img/fake-products/<%= product.imageUrl %>.jpg" alt="image placeholder">
                </div>
                <div class="main__card-content">
                    <p class="main__card-title"><%= product.title %></p>
                    <p class="main__card-description"><%= product.description %></p>
                    <p class="main__card-price">R$ <%= product.price %></p>
                    <button class="main__card-btn">Add to cart</button>
                </div>
            </article>
        <% }) %>
    </div>
    <% } else { %>
    <h1 class="main__empty-products">No Products</h1>
    <% } %>
</main>

<%- include('../includes/end') %>