<%- include('../includes/head', { styles: styles })%>

<%- include('../includes/navigation', { path: path })%>

<main class="container">
    <form class="form"
        action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
        method="POST">
        <!-- <label for="input-file" class="form__image-label">
            <img style="width: 96px; height: 96px;" src="/img/choose-image.svg" aria-label="add image">
            Load image
        </label>
        <input id="input-file" type="file" name="imageUrl"
            class="form__image"> -->

        <div class="form__fields">
            <% if (editing) { %>
                <input type="hidden" name="productId" value="<%= product._id %>">
            <% } %>
            <input type="text" name="title" aria-label="product name"
                placeholder="Product name" class="form__input" value="<% if (editing) { %><%= product.title %><% } %>">

            <input type="text" name="imageUrl" aria-label="image url"
                placeholder="Image URL" class="form__input" value="<% if (editing) { %><%= product.imageUrl %><% } %>">

            <input type="text" name="price" aria-label="product price"
                class="form__input" placeholder="Price" value="<% if (editing) { %><%= product.price %><% } %>">

            <textarea name="description" cols="30" rows="4"
                class="form__description" placeholder="Description"
                aria-label="description"><% if (editing) { %><%= product.description %><% } %></textarea>
                
            <button class="form__submit" type="submit">
            <% if (editing) { %>Update Product<% } else { %>Add Product<% } %>
            </button>
        </div>
    </form>
</main>

<%- include('../includes/end') %>