<%- include('../includes/head', { styles: styles  })%>

<%- include('../includes/navigation', { path: path })%>

<main class="main">
    <% if (products.length > 0) { %>
    <h1 class="main__title">All Products (admin)</h1>
    <div class="main__card-list">
        <% products.forEach(product => { %>
            <article class="main__card-item">
                <div class="main__card-image">
                    <img src="/img/fake-products/<%= product.imageUrl %>.jpg" alt="image placeholder">
                </div>
                <div class="main__card-content">
                    <p class="main__card-title"><%= product.title %></p>
                    <p class="main__card-description"><%= product.description %></p>
                    <p class="main__card-price">R$ <%= product.price %></p>
                </div>
                <div class="main__card-actions">
                    <a href="/admin/edit-product/<%= product._id %>?editing=true" class="main__card-btn">Edit</a>
                    <form action="/admin/delete-product" method="POST">
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <button class="main__card-btn">Delete</button>
                    </form>
                </div>
            </article>
        <% }) %>
    </div>
    <% } else { %>
    <h1 class="general-message">No Products</h1>
    <% } %>
</main>

<%- include('../includes/end') %>